
src/node_modules/

src/package-lock.json
!back/data/mysql/data/ER


back/data/mysql/data/mysql
back/data/mysql/data/performance_schema

back/data/mysql/data/sys
back/data/mysql/data/ib*
back/data/mysql/data/*.pid
back/data/mysql/data/*.cnf

back/nginx/log/

back/docker/nginx.hosts

back/docker/php.hosts

.idea/

src/build/

.DS_Store
