table tr td{
    border: 1px solid;
    background-color: #999999;
    color: white;
}
td{
    text-align: left;
    padding: 5px;
}
.symbol{
    font-weight: bold;
}
td > span{
    font-size: 20px;
    margin-right: 5px;
    cursor: pointer;
}

td > span:hover{
    color: #3c3c3c;
}

div > span{
    padding: 2px;
    cursor: pointer;
}

div > span:hover{
    background-color: #8c8c8c;
}